---
---

<nav class="nav">
  <div class="nav-inner">
    <a href="#top" class="nav-logo">d.reichenberg</a>
    <div class="nav-links">
      <a href="#about" data-nav>Über mich</a>
      <a href="#stack" data-nav>Technologien</a>
      <a href="#projects" data-nav>Projekte</a>
      <a href="#contact" data-nav>Kontakt</a>
      <a href="#newsletter" data-nav>Newsletter</a>
    </div>
  </div>
</nav>
